:root {
  --light-pink: #f5dedb;
  --dark-pink: #f364ab;
}
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  font-family: "Merriweather", monospace;
}
.navbar {
  background-color: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.navbar-nav {
  font-weight: 600;
}

#weather-logo {
  display: flex;
  margin: auto;
}
