:root {
  --light-pink: #f5dedb;
  --dark-pink: #f364ab;
}
* {
  margin: 0;
  padding: 0;
}

/* navbar */
.navbar {
  background-color: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.navbar-nav {
  font-weight: 600;
}

#sun-moon {
  display: flex;
  margin: auto;
}

/* skills */
.skills-section {
  min-height: 40vh;
}
.section-title {
  font-size: 50px;
  color: rgb(113, 16, 137);
}
.section-title > hr {
  width: 25%;
  display: block;
  margin: auto;
  border: 2px dotted purple;
}

/* projects */

.project-section {
  background-color: rgb(232, 214, 240);
  color: rgb(128, 13, 157);
  padding-left: 10%;
  padding-right: 10%;
}

/* contact */
#contact {
  background-color: rgb(179, 117, 209);
}

.btn {
  background-color: rgb(179, 117, 209) !important;
}
