:root {
  --light-pink: #f5dedb;
  --dark-pink: #f364ab;
}
* {
  background-color: var(--light-pink);
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 80px;
  background-color: var(--light-pink);
  font-family: "Merriweather", serif;
  color: rgb(52, 18, 27);
}
.main {
  font-family: "DM Serif Display", serif;
  font-size: 60px;
}
.navbar-nav {
  font-weight: 400;
}
.nancy-img {
  border-radius: 50%;
  display: flex;
  margin: auto;
  border: 1px solid rgb(244, 35, 150);
  padding: 7px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.about {
  margin: 20px;
}
.contact {
  margin: 20px;
}
